/* Style css biodata */

        body {
            font-family: 'Comic Sans MS', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7cac9;
            color: #333;
        }

        h1 {
            color: #91a7d0;
            font-size: 2.5rem;
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
        }

        .container {
            max-width: 700px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 10px;
            background-color: #92a8d1;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .profile-photo {
            text-align: center;
            margin-bottom: 20px;
        }

        .profile-photo img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }

        td:first-child {
            font-weight: bold;
            width: 30%;
        }

        .education-table td {
            text-align: left;
        }

        
        .skills-table td {
            text-align: left;
        }